@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
.profileContainer {
  background-color: #FAFAFA;
  border-radius: 30px;
  box-shadow: 0 0 10px #405712;
  height: auto;
  color: #405712;
}
.profileContainer .profileNav {
  background-color: #405712;
  height: auto;
  padding: 5%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.profileContainer .profileForm {
  color: #405712;
}
.profileContainer .profileForm label {
  margin-bottom: 2%;
  font-weight: 700;
}
.profileContainer .profileForm input {
  width: 60%;
  height: 5px;
  border-radius: 10px;
  border: 1px solid #405712;
  box-shadow: 0 0 5px #405712;
  direction: rtl;
  padding: 3%;
  margin-bottom: 3%;
}
.profileContainer .profileForm input:focus {
  outline: none;
  background-color: rgba(218, 165, 32, 0.1333333333);
}
.profileContainer .profileForm input:disabled {
  background-color: rgba(64, 87, 18, 0.1333333333);
}
.profileContainer .profileForm .editBtn {
  margin-right: 5%;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #405712;
}
.profileContainer .profileForm .editBtn:hover {
  color: #DAA520;
}
.profileContainer .profileForm h5 {
  font-weight: 700;
  margin-bottom: 3%;
}
.profileContainer .profileForm .saveBtn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #DAA520;
  border-radius: 30px;
  border: 3px solid #DAA520;
  font-size: 20px;
}
.profileContainer .profileForm .saveBtn:hover {
  background-color: #DAA520;
  color: #FAFAFA;
}
.profileContainer .filterContainer {
  padding: 0;
  color: #FAFAFA;
  /**
   * Helper
   */
  /**
   * Visual style
   */
  /**
   * Setup
   */
}
.profileContainer .filterContainer .scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.profileContainer .filterContainer .nav-item.active {
  background-color: #DAA520;
}
.profileContainer .filterContainer .submenu {
  height: 0;
  opacity: 0;
}
.profileContainer .filterContainer .submenu.active {
  height: auto;
  opacity: 1;
}
.profileContainer .filterContainer .bg-dark-blue {
  background-color: #152637;
}
.profileContainer .filterContainer .bg-green {
  background-color: #405712;
}
.profileContainer .filterContainer .bg-green .nav-item:hover {
  background-color: #4f6721;
}
.profileContainer .filterContainer .bg-dark-grey {
  background-color: #DAA520;
}
.profileContainer .filterContainer .radius {
  border-radius: 10px;
}
.profileContainer .filterContainer .radius-top {
  border-radius: 3px 3px 0 0;
}
.profileContainer .filterContainer .radius-bottom {
  border-radius: 0 0 3px 3px;
}
.profileContainer .filterContainer .text-center {
  text-align: center;
}
.profileContainer .filterContainer .vam,
.profileContainer .filterContainer .nav-item {
  display: inline-block;
  vertical-align: middle;
}
.profileContainer .filterContainer .example-two .nav {
  width: 72.5%;
}
.profileContainer .filterContainer .nav-item {
  cursor: pointer;
  padding: 13px 16px 12px;
  padding-left: 3%;
}
.profileContainer .filterContainer .nav-item {
  padding-left: 5%;
  padding-right: 5%;
}
.profileContainer .filterContainer .bg-grey .nav-item {
  color: #fff;
}
.profileContainer .filterContainer .submenu {
  border-radius: 0 0 3px 3px;
}
.profileContainer .filterContainer .submenu .nav-item:hover {
  background-color: #c19d42;
}
.profileContainer .filterContainer header,
.profileContainer .filterContainer nav {
  font-size: 0;
}
.profileContainer .filterContainer header {
  overflow: hidden;
}
.profileContainer .filterContainer .nav-item {
  font-size: 14px;
}
.profileContainer .filterContainer .title {
  margin: 24px 0 6px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #999;
}
.profileContainer .filterContainer a {
  color: #64cce3;
  text-decoration: none;
}
.profileContainer .filterContainer ul, .profileContainer .filterContainer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profileContainer .filterContainer .scroll::-webkit-scrollbar {
  display: none;
}

.tab-content {
  direction: rtl;
  align-items: center;
}

.tabs .nav-pills .nav-item {
  margin-bottom: 50px;
}

.tabs .nav-pills .nav-item .nav-link {
  border-radius: 4px;
  color: #FAFAFA;
  font-weight: bold;
  border: 3px solid #DAA520;
  border-radius: 30px;
  font-size: 20px;
  line-height: 30px;
}

.tabs .nav-pills .nav-item .nav-link span {
  color: #053001;
  font-size: 30px;
}

.tabs .nav-pills .nav-item .nav-link.active {
  color: #fff;
  background: #DAA520;
}

.tabs .nav-pills .nav-item .nav-link.active span {
  color: #fff;
}

.tabs .tab-content {
  padding: 10%;
}

.tabs .tab-content .img { /*images-size for this section 1000 x 667 */
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.tabs .tab-content h3 {
  font-weight: bold;
}

.tabs .tab-content h3 a {
  color: #000;
}

@media (max-width: 426px) {
  .tabs {
    flex-direction: column-reverse;
  }
  .tabs .nav-pills .nav-item {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=profile.css.map */