@use "variables.scss" as vars;

#logInHeader {
  height: 50vh;
  background-color: vars.$heroFooterBg;
  padding: 15px;
}

#signUpContainer {
  width: 50vw;
  height: auto;
  padding: 80px;
  background-color: vars.$primaryColor;
  justify-self: center;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  top: -150px;
  box-shadow: vars.$boxShadow;
  h2 {
    color: vars.$bodyColor;
    text-align: center;
    direction: rtl;
    margin-bottom: 13%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    label{
    color: vars.$bodyColor;
    direction: rtl;
    justify-self: right !important;
    }
    input {
      width: 80%;
      height: 45px;
      border-radius: 30px;
      border: none;
      direction: rtl;
      padding: 5%;
    }
    p{
    color: vars.$bodyColor;
    }
    button{
        width: 170px;
        height: 50px;
        margin-top: 5%;
        background-color: vars.$secondaryColor;
        color: vars.$bodyColor;
        border-radius: 30px;
        border: none;
        font-size: vars.$buttonFontSize;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
    }
  }
}
