@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

//Colors
$primaryColor: #405712;
$secondaryColor: #DAA520;
$highlightsColor: #A31621;
$bodyColor: #FAFAFA;

//Font Family
$fontFamily: "Cairo", serif;

//Shadow
$boxShadow: 0 0 10px #405712;

//Font Sizes
$larg: 2rem;
$buttonFontSize: 20px;

$line-height: 1.25;
