@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');


//Colors
$primaryColor: #405712;
$secondaryColor: #DAA520;
$highlightsColor: #A31621;
$highlighter: #a31622b3;
$bodyColor: #FAFAFA;
$heroFooterBg: #F5F5DC;

//Font Family
$fontFamily: "Cairo", serif;

//Shadow
$boxShadow: 0 0 10px #405712;
$lightBoxShadow: 0 0 5px #405712;

//Font Sizes
$larg: 2rem;
$buttonFontSize: 20px;

$line-height: 1.25;
